[submodule "lib/acts_as_paranoid"]
	path = lib/acts_as_paranoid
	url = git://activereload.net/acts_as_paranoid

[submodule "lib/acts_as_taggable_on_stereoids"]
        path = lib/acts_as_taggable_on_stereoids
        url = git://bearnaise.net/acts_as_taggable_on_stereoids
